
<ul class="mythics-simpler-quest-list tracker{{#if docked}} docked{{/if}}">
    {{#each quests}}
        <li class="mythics-simpler-tracked-quest sortable" data-quest-id="{{this.id}}" draggable="{{#if ../isGM}}true{{else}}false{{/if}}">
            <div class="header">
                <i class="fa-solid fa-caret-right{{#if (simplerQuestIsActiveQuest ../activeQuests this.id)}} fa-rotate-90{{/if}}"></i>
                <h3>{{this.title}}</h3>
                {{#if ../isGM}}
                    {{#if this.visible}}
                        <div class="vis-toggle" title="{{localize 'MythicsSimplerQuests.Common.Visible'}}"><i class="fa-solid fa-eye"></i></div>
                    {{else}}
                        <div class="vis-toggle" title="{{localize 'MythicsSimplerQuests.Common.Hidden'}}"><i class="fa-solid fa-eye-slash"></i></div>
                    {{/if}}
                {{/if}}
                {{#if canEdit}}
                    <div class="edit" title="{{localize 'MythicsSimplerQuests.Tracker.Edit'}}"><i class="fa-solid fa-pen-to-square"></i></div>
                {{/if}}
                {{#if canDelete}}
                    <div class="delete" title="{{localize 'MythicsSimplerQuests.Tracker.Delete'}}"><i class="fa-solid fa-trash"></i></div>
                {{/if}}
            </div>
            {{#if (simplerQuestIsActiveQuest ../activeQuests this.id)}}
                {{#each this.objectives}}
                    {{> trackerObjective}}
                {{/each}}
            {{/if}}
        </li>
    {{/each}}
</ul>