
<div class="mythics-simpler-quest-objective{{#unless (simplerQuestsEquals this.state 0)}} complete{{/unless}}{{#if (simplerQuestsEquals this.state -1)}} failed{{/if}}{{#if this.secret}} secret{{/if}}"
    data-id="{{this.id}}">
    {{#if (simplerQuestsEquals this.state 1)}}
        <i class="fa-regular fa-square-check" style="pointer-events: none" title="{{localize 'MythicsSimplerQuests.Tracker.Complete'}}"></i>
    {{else if (simplerQuestsEquals this.state -1)}}
        <i class="fa-solid fa-square-xmark" style="pointer-events: none" title="{{localize 'MythicsSimplerQuests.Tracker.Failed'}}"></i>
    {{else}}
        <i class="fa-regular fa-square" style="pointer-events: none" title="{{localize 'MythicsSimplerQuests.Tracker.Incomplete'}}"></i>
    {{/if}}
    {{this.text}}
    {{#if this.subs}}
        <div class="mythics-simpler-subobjectives">
            {{#each this.subs}}
                <div class="mythics-simpler-subobjective">
                    <div class="border-left"></div>
                    {{#unless (simplerQuestsLastObjective ../subs this.id)}}<div class="border-down"></div>{{/unless}}
                    {{> trackerObjective}}
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>